@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
  --primary-color: #3685fb;
  --primary-color-dark: #2f73d9;
  --secondary-color: #fafcff;
  --text-dark: #0d213f;
  --text-light: #767268;
  --extra-light: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* 2xs */
@media only screen and (min-width: 475px) {
  .section__container {
  padding: 5rem 2rem;
}

}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.section__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: 1rem;
  color: var(--text-dark);
  text-align: center;
  justify-content: center;
  /* max-width: calc(var(--max-width) / 2); */
}


.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--extra-light);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

a {
  text-decoration: none;
}

.img {
  width: 100px;
  display: block;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  /* Tricto's change */
  padding: 1rem 1rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 2xs */
@media only screen and (min-width: 475px) {
nav {
  /* Tricto's change */
  padding: 1rem 2rem;
}
}

.nav__logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__logo span {
  color: var(--primary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  padding: 0 1rem;
  color: var(--text-dark);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

header {
  background-image: url(assets/white-bg.avif);
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
  background-size: cover;
}

.header__container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  padding-top: 8rem;
}

/* 4xs */
@media only screen and (min-width: 380px) {}

/* 3xs */
@media only screen and (min-width: 400px) {}

/* 2xs */
@media only screen and (min-width: 475px) {

}

/* xs */
@media only screen and (min-width: 540px) {

}

/* sm */
@media only screen and (min-width: 640px) {

}

/* md */
@media only screen and (min-width: 768px) {
    .header__container {
  grid-template-columns: repeat(2, 1fr);
  padding-top: 5rem;
  gap: 2rem;

}

}

/* lg */
@media only screen and (min-width: 1024px) {
 
}

/* xl */
@media only screen and (min-width: 1200px) {
 
}



.header__image {
  position: relative;
}

.header__image img {
  border: 0.5rem solid var(--extra-light);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  aspect-ratio: 1/1;
}

/* .header__image img:nth-child(1) {
  max-width: 100% !important;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
   position: absolute;
  bottom: -4rem;
  right: -4rem;
  max-width: 250px;
} */

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-row: 1;
}

.header__content>div {
  max-width: 100%;
  display: grid;
  gap: 1rem;
}
/* 4xs */
@media only screen and (min-width: 380px) {}

/* 3xs */
@media only screen and (min-width: 400px) {}

/* 2xs */
@media only screen and (min-width: 475px) {

}

/* xs */
@media only screen and (min-width: 540px) {
 
}

/* sm */
@media only screen and (min-width: 640px) {

}

/* md */
@media only screen and (min-width: 768px) {
 .header__content{
  grid-row: unset
}
.header__content>div {
  max-width: 400px;
}
}

/* lg */
@media only screen and (min-width: 1024px) {
 
}

/* xl */
@media only screen and (min-width: 1200px) {
 
}

.header__content .section__subtitle {
  text-align: left;
}



.header__content .sub__header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  color: var(--text-dark);
}

.header__content .action__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

/* Tricto's changes */
.brands {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 1rem;
  padding-top: 30px;
}

/* 2xs */
@media only screen and (min-width: 475px) {
  .brands {
  padding: 0 2rem;
}

}


.brands .section__title {
  font-size: 40px;
  margin-bottom: 10px;
}

.brands .section__subtitle {
  margin-bottom: 30px;
}

/* sm */
@media only screen and (min-width: 640px) {
 .brands .section__subtitle {
  padding: 0 30px;
}
}



.cards {
  width: 100%;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: 2rem
  /* margin: 0 auto;
  padding: 0 1rem; */
}


/* 4xs */
@media only screen and (min-width: 380px) {}

/* 3xs */
@media only screen and (min-width: 400px) {}

/* 2xs */
@media only screen and (min-width: 475px) {}

/* xs */
@media only screen and (min-width: 540px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* sm */
@media only screen and (min-width: 640px) {

}

/* md */
@media only screen and (min-width: 768px) {
    .cards {
    gap: 4rem;
    padding-top: 4rem;
  }
}

/* lg */
@media only screen and (min-width: 1024px) {
   .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* xl */
@media only screen and (min-width: 1200px) {
 
}





.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}
/* 2xs */
@media only screen and (min-width: 475px) {
  .center {
  padding-top: 6rem;
}
}


.responsive {
  /* padding: 10px; */
  width: 100%;
  display: none;
}

.responsive:nth-child(1),
.responsive:nth-child(2),
.responsive:nth-child(3),
.responsive:nth-child(4) {
  display: inline-block;
}

div.gallery {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 20px #888888;
  border-radius: 15px;
  /* Tricto's change */
  overflow: hidden;
}

div.gallery:hover {
  border: 1px solid #777;
}

/* Tricto's change */
div.gallery img {
  width: 100%;
  aspect-ratio: 1/1;
}

div.desc {
  font-size: 20px;
  padding: 15px;
  text-align: center;
  color: var(--text-dark);
}

#load-more {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #334;
  color: #334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

#load-more:hover {
  background-color: var(--text-dark);
  border-color: var(--text-dark);
  color: #fff;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {}

@media only screen and (max-width: 500px) {}

@media only screen and (max-width: 560px) {
  /* .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  div.gallery {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 20px #888888;
    border-radius: 15px;
    /* width: 250px; */
  }
}

@media only screen and (max-width: 375px) {}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.subscribe {
  background-color: var(--secondary-color);
}

.subscribe__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.subscribe .btn {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe p {
  padding: 0 30px;
  margin-bottom: 30px;
}

/* Footer */

.footer {
  background-color: var(--text-dark);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  color: var(--secondary-color);
}


.footer__col h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__col h3 span {
  color: var(--primary-color);
}

.footer__col p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col p span {
  font-weight: 600;
}

.footer__col h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--secondary-color);
  border-top: 1px solid var(--text-light);
}

@media (width < 1200px) {
  /* .header__image img:nth-child(1) {
    max-width: 300px;
  }

  .header__image img:nth-child(2) {
    max-width: 200px;
  } */
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__content h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 800;
    color: var(--text-dark);
  }

  /* .header__container {
    grid-template-columns: repeat(1, 1fr);
  } */

  /* .header__image {
    min-height: 500px;
  } */

}

@media (width < 600px) {
  .brands .section__title {
    font-size: 40px;
    line-height: 1.0;
    margin-bottom: 20px;
  }

  .subscribe__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(1, 1fr);
  }
/* 
  .header__image img:nth-child(1) {
    max-width: 220px;
    margin-left: 20px;
  }

  .header__image img:nth-child(2) {
    max-width: 150px;
  } */

}